<div *ngIf="admin">
    <label for="upload-data">Upload CSV</label>
    <input type="file" (change)="upload($event.target.files)" style="display: none;" id="upload-data">
    <button mat-raised-button (click)="syncData()">Sync Data</button>
    <div *ngIf="snapshot | async as snap">
        <mat-progress-spinner mode="determinate" [value]="percentage"></mat-progress-spinner>
        <button mat-button (click)="isActive(snap)? pause(): resume()" [innerHTML]="isActive(snap)? 'Pause': 'Resume'"></button>
        <button mat-button (click)="cancel()" [disabled]="!isActive(snap)">Cancel</button>
    </div>
</div>

<div fxLayout="column">
    <div *ngFor="let student of data">
        {{student.uid}}
    </div>
</div>