<div *ngIf="admin">
    <label for="upload-data">Upload CSV</label>
    <input type="file" (change)="uploadCSV($event.target.files)" style="display: none;" id="upload-data">
    <button mat-raised-button (click)="syncData()">Sync Data</button>
</div>

<div fxLayout="column">
    <div *ngFor="let student of data">
        {{student.uid}}
    </div>
</div>
<!-- <div fxLayout="row" *ngIf="files.length"> -->
<!-- <div *ngFor="let file of files"> -->
<!-- <app-uploader [file]="file.file" [path]="file.path"></app-uploader> -->
<!-- </div> -->
<!-- </div> -->