<div *ngIf="admin">
    <label for="upload-data">Upload CSV</label>
    <input type="file" (change)="uploadCSV($event.target.files)" style="display: none;" id="upload-data">
    <mat-expansion-panel>
        <mat-expansion-panel-header>Upload PDFs</mat-expansion-panel-header>
        <div class="dropzone" appDropzone (hovered)="toggleHover($event)" (dropped)="uploadPDF($event)" [class.hovering]="isHovering">
            <h3>Drop PDFs here</h3>
            <h1>Or</h1>
            <!-- <input type="file" (change)="uploadPDF($event.target.files)" style="display: none;" id="upload-pdf" multiple> -->
            <!-- <label for="upload-pdf"><h3>Choose files</h3></label> -->
        </div>
    </mat-expansion-panel>
</div>

<div fxLayout="column">
    <div *ngIf="data && data.length <= 0">
        Koi kaam nahi hai, maze kar bhai
    </div>
    <div *ngFor="let student of data">
        {{student.uid}}
    </div>
</div>
