.wrapper {
    width: 100vw;
    height: 100vh;
    /* background-color: #303030; */
    background-image: url('/assets/forgot.jpg');
    background-position: center center;
    background-size: cover;
}

mat-card {
    width: 21vw;
    text-align: center;
    background-color: #eddacc;
}

mat-card-title {
    text-align: center;
}

mat-card-footer {
    margin-left: 1.1vw;
    color: #806a6a;
    text-align: left;
}

mat-card-footer span {
    cursor: pointer;
}

.mat-raised-button {
    background-color: #353535;
    color: white;
}

mat-card-actions {
    margin-bottom: 0;
}

@media only screen and (max-width: 720px) {
    mat-card {
        width: 80vw;
    }
}