.wrapper {
    width: 100vw;
    height: 100vh;
}

mat-card {
    width: 21vw;
    text-align: center;
}

mat-card-title {
    text-align: center;
}

mat-card-footer {
    margin-left: 1.5vw;
}

@media only screen and (max-width: 720px) {
    mat-card {
        width: 90vw;
    }
}