<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <form (ngSubmit)="onSubmit(username.value, password.value); loginform.reset();" #loginform fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex="33">
                <input matInput type="text" id="name" required name="name" placeholder="E-mail ID" #username>
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
            <mat-form-field fxFlex="33">
                <input matInput [type]="hide ? 'password': 'text'" id="password" required name="password" placeholder="Password" #password>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="'hide'">
                <mat-icon>{{hide ? 'visibility_off': 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button type="submit" [disabled]="submitted">Submit</button>
            </mat-card-actions>
        </form>
        <mat-card-footer>
            <p>
                Don't have an account? <a routerLink="/signup"> Sign Up </a>
            </p>
            <p>
                <a routerLink="/reset_password">Forgot Password?</a>
            </p>
        </mat-card-footer>
    </mat-card>
</div>
