.wrapper {
    height: 100%;
    /* overflow-y: hidden; */
}

.top {
    height: 80%;
    border-bottom: 1px solid black;
}

.csv {
    width: 45%;
    overflow-y: scroll;
}

.csvdata {
    padding-bottom: 5px;
}

.studentlist {
    overflow-y: auto;
}

.id {
    width: 10%;
}

.bottom {
    height: 20%;
}

.bottom div {
    border-right: 2px solid black;
}

.fields {
    width: 45%;
}

.mat-autocomplete-panel {
    max-height: 9vh !important;
}