<div class="wrapper" fxLayout="column">
    <div class="top" fxLayout="row">
        <app-ta-csv *ngIf="lvl === 'Teaching Assistant (TA)' && loaded" class="csv" [currentData]="currentData" [headers]="headers"></app-ta-csv>
        <app-manager-csv class="csv" *ngIf="lvl === 'Manager' || lvl === 'Admin' && loaded" [currentData]="currentData" [headers]="headers" (data)="onSubmit($event)"></app-manager-csv>
        <ngx-extended-pdf-viewer class="viewer" [src]="url" useBrowserLocale="true" [showDownloadButton]="false" [showBookmarkButton]="false" [showOpenFileButton]="false" [showPrintButton]="false" [showPresentationModeButton]="false"></ngx-extended-pdf-viewer>
        <div class="studentlist" fxFlex="auto">
            <mat-nav-list role="navigation">
                <mat-list-item *ngFor="let student of students" [routerLink]="'../' + student.uid" (click)="routeIt(student.uid)" [disabled]="id === student.uid">
                    {{ student.uid }}
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>
    <div class="bottom" fxLayout="column">
        <h3>Fields to correct</h3>
        <app-ta-editor *ngIf="lvl === 'Teaching Assistant (TA)' && loaded" [id]="id" [uid]="uid" [fields]="fields"></app-ta-editor>
        <app-manager-editor *ngIf="(lvl === 'Admin' || lvl === 'Manager') && loaded" [id]="id"></app-manager-editor>
    </div>
</div>
