<mat-card>
    <mat-card-title>Signup</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
            <input matInput type="text" formControlName="name" id="name" name="name" placeholder="E-Mail" #name>
        </mat-form-field>
        <!-- <span id="name-help" class="text-warning" [hidden]="form.controls.name.valid || form.controls.name.pristine"> -->
        <!-- Username should be atleast 5 letters -->
        <!-- </span> -->
        <div class="form-group" formGroupName="passwords" fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput type="password" formControlName="password" id="password" required name="password" placeholder="Password" #password>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" class="form-control" formControlName="repeat" id="repeat" name="repeat" placeholder="Repeat Password">
            </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput type="text" formControlName="names" id="names" name="names" placeholder="Name" #names>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" formControlName="role" id="role" name="role" placeholder="Role" #role>
        </mat-form-field>
        <button mat-raised-button fxFlex="33" type="submit" class="btn btn-default">
      Submit
      </button>
    </form>
    <mat-card-footer>
        <p>
            Already have an account? <a routerLink=""> Sign In </a>
        </p>
    </mat-card-footer>
</mat-card>