<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Students</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <button mat-raised-button color="primary" (click)="openEditor()">
      Open Editor
    </button>
        <div *ngIf="!preData">Loading....</div>
        <div *ngIf="preData && preData.length == 0">
            Koi kaam nahi hai maze kar bhai
        </div>
        <app-mat-table *ngIf="preData && preData.length > 0" [data]="data" [columnsToDisplay]="columnsToDisplay" [fields]="fields"></app-mat-table>
    </ng-template>
</mat-expansion-panel>

<mat-expansion-panel (opened)="getTas()">
    <mat-expansion-panel-header>
        <mat-panel-title>Assign TAs</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div *ngIf="!managerTAs">Loading...</div>
        <div *ngIf="managerTAs && managerTAs.length <=0">Koi TA nahi hai tere pass gareeb aadmi</div>
        <mat-tab-group *ngIf="managerTAs && managerTAs.length > 0" mat-stretch-tabs>
            <mat-tab label="Automatic">
                <ng-template matTabContent>
                    <button mat-button (click)="assignAutomatically()">Automatic</button>
                </ng-template>
            </mat-tab>
            <mat-tab label="Manual">
                <ng-template matTabContent>
                    <mat-list>
                        <mat-list-item>
                            <div fxLayout="row wrap" class="row_wrapper">
                                <div class="name"><strong>TA</strong></div>
                                <div><strong>No. of Students</strong></div>
                            </div>
                        </mat-list-item>
                        <mat-list-item *ngFor="let ta of managerTAs; last as last; let i = index">
                            <div fxLayout="row wrap" class="row_wrapper">
                                <div class="name">{{ ta.displayName }}</div>
                                <div>
                                    <input type="number" [(ngModel)]="nos[i]" min="0">
                                </div>
                            </div>
                            <mat-divider *ngIf="!last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                    <button mat-raised-button (click)="assignManually()">Assign</button>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </ng-template>
</mat-expansion-panel>