<div class="top">
    <div class="center" fxLayout="row" fxLayoutAlign="center center">
        Xerneas
    </div>
    <div class="left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
        <div class="menuFive" [class.isOpen]="isOpen" (click)="toggle(true);">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <img *ngIf="user" [src]=" user?.dpUrl ? user?.dpUrl : '/assets/default-user.png'" class="dp" alt="DP">
        <span *ngIf="user && !mobile" class="name">{{ user.displayName }}</span>
    </div>
    <div class="right" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button (click)="logOut()" class="out"><span *ngIf="!mobile">LogOut </span><mat-icon>logout</mat-icon></button>
    </div>
</div>

<mat-sidenav-container class="sidenav">
    <mat-sidenav role="navigation" [(opened)]="isOpen" [mode]="mobile ? 'over':'side'" class="side" #sidenav>
        <mat-nav-list fxLayout="column">
            <a class="link" mat-list-item *ngFor="let link of links" (click)="toggle(false);" [innerHTML]="link" [routerLink]="'./' + link" fxLayout="column" fxLayoutAlign="center start" [disabled]="route === link"></a>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
<div class="loader" *ngIf="loaded" fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/logo.png">
</div>
<mat-card class="uploader" *ngIf="files.length">
    <mat-card-header class="uploader_head" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-card-title class="title" *ngIf="files.length - completed !== 0">Uploading {{files.length - completed}} files</mat-card-title>
        <mat-card-title class="title" *ngIf="files.length - completed === 0 && completed !== 0">{{completed}} files uploaded</mat-card-title>
        <mat-icon style="padding-right: 8px; cursor: pointer" [class.disable]="!(files.length - completed === 0 && completed !== 0)" (click)="closeUploader()">cancel</mat-icon>
    </mat-card-header>
    <div *ngFor="let file of files">
        <app-uploader [file]="file.file" [path]="file.path" (done)="callback($event)"></app-uploader>
    </div>
</mat-card>