/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'europhonica';
    src: url('/assets/fonts/Europhonic.otf');
}

@font-face {
    font-family: 'raleway';
    src: url('/assets/fonts/Raleway-Regular.ttf');
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'raleway' !important;
    background-color: #e6dede;
}

mat-sidenav-content {
    background-color: #e6dede;
}

.mat-autocomplete-panel {
    max-height: 9vh !important;
}