/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'europhonica';
    src: url('/assets/fonts/Europhonic.otf');
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('/assets/fonts/Raleway-Regular.ttf');
    font-display: swap;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.mat-list-item,
.mat-cell,
.mat-header-cell {
    font-family: raleway !important;
}

mat-icon {
    font-family: Roboto;
}

body {
    margin: 0;
    font-family: 'raleway' !important;
    background-color: #e6dede;
}

mat-sidenav-content {
    background-color: #e6dede;
}

.mat-card {
    font-family: raleway;
}

.mat-autocomplete-panel {
    max-height: 9vh !important;
}
