<div class="wrapper">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Admins
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <app-table [content]="admins" [columnsToDisplay]="columnsToDisplay" (toggle)="approve($event)"></app-table>
        </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Managers
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <app-table [content]="managers" [columnsToDisplay]="columnsToDisplay" (toggle)="approve($event)"></app-table>
        </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Teaching Assistant (TA)
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <app-table [content]="tas" [columnsToDisplay]="columnsToDisplay" (toggle)="approve($event)"></app-table>
        </ng-template>
    </mat-expansion-panel>
</div>